<!--<link rel="icon" type="image/png" href="img/bg/ico-sef.png" />-->

<div id="bg"></div>
<div class="wrapper">
  <div class="container">
    <header id="header">
      <div id="logo">
        <h1><a href="#">RDM Rules Manager</a></h1>
      </div>

      <!-- <div id="login">
        <a class="ico-user"><span>login</span></a>

      </div> -->

      <nav id="navigation">
        <ul class="menu">
          <li routerLinkActive="active"><a routerLink="/Rules">Rules</a></li>
          <li routerLinkActive="active"><a routerLink="/Display">Preview</a></li>
          <li routerLinkActive="active"><a routerLink="/Inputs">Input Parameters</a></li>
          <li routerLinkActive="active"><a routerLink="/Outputs">Ouput Parameters</a></li>
          <li routerLinkActive="active"><a routerLink="/Styles">Styles</a></li>
          <!-- <li routerLinkActive="active"><a routerLink="/CSIOForm">Rules (old)</a></li>
          <li routerLinkActive="active"><a routerLink="/Preview">Preview(old)</a></li> -->
        </ul>
      </nav>
    </header>


    <router-outlet></router-outlet>


    <footer id="footer">
      <div id="foot-bottom">
        <p>Ⓒ2025 - This website is produced by CSIO -
          <span style="color:#666;">v.2.0</span>
          <ng-container>

            <span style="color:#666;"></span>
          </ng-container>
        </p>
      </div>
    </footer>
  </div>
</div>