<link rel="icon" type="image/png" href="img/bg/ico-sef.png" />
		
<div id="bg"></div>
<div class="wrapper">
    <div class="container">

        
        <router-outlet></router-outlet>
        
        
        <footer id="footer">
            <div id="foot-bottom">
              <p>Ⓒ2022 - This website is produced by CSIO -
                <span style="color:#666;">v.1.0</span>
                <ng-container>
                  
                  <span style="color:#666;"></span>
                </ng-container>
              </p>
            </div>
          </footer>
    </div>
</div>