#box {
    background-color: rgb(233, 248, 248);
    margin: auto;
    border: 3px solid rgb(184, 179, 255);
    position: relative;
    padding: 0px;
    width: 750px;
    height: 800px;
}
.info{
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.epname{
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}
.legislativeperiod{
    position: absolute;
    top: 30px;
    left: 10px;
}
.eplogo{
    position: absolute;
    top: 0px;
    left: 550px;
    display: block;
    height: 150px;
    width: 150px;
    background-image: url(../../../assets/img/ep-logo.png);
	background-repeat: no-repeat;
    background-size:contain;
}
.rule{
    font-size: 10px;
    font-variant: small-caps;
    color:rgb(139, 223, 248);
    font-weight: normal;
}
.headingtitle{
    position: absolute;
    top: 120px;
    left: 0px;
    width: 80%;
    font-weight: bold;
    border-style: solid none solid none;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px;
    white-space: pre-line
}
.doclanguage{
    position: absolute;
    top: 750px;
    left: 20px;
    font-weight: bold;
    font-size: 25px;
}
.doclanguageright{
    position: absolute;
    top: 750px;
    left: 680px;
    font-weight: bold;
    font-size: 25px;
}
.united{
    position: absolute;
    top: 750px;
    left: 300px;
    color:rgb(121, 121, 121);
    font-size: 16px;
}
.penumber{
    position: absolute;
    top: 710px;
    left: 580px;
}
.docref{
    position: absolute;
    top: 710px;
    left: 60px; 
}
.docname{
    position: absolute;
    top: 310px;
    left: 250px;
    font-size: 22px;
    font-weight: bold;
}
.procedurenumber{
    position: absolute;
    top: 240px;
    left: 550px;
    font-weight: bold;
}
.date{
    position: absolute;
    top: 240px;
    left: 50px;
}
.leadcommittee{
    position: absolute;
    top: 390px;
    left: 250px;
}
.reporttitle{
    position: absolute;
    top: 420px;
    left: 250px; 
}
.authoringcommittee{
    position: absolute;
    top: 350px;
    left: 250px;
}
.authoringcommitteebelowtitle{
    position: absolute;
    top: 450px;
    left: 250px;
    white-space: pre-line
}
.authoringcommitteerule{
    position: absolute;
    top: 540px;
    left: 250px;
}
.rapporteurs{
    position: absolute;
    top: 500px;
    left: 250px;
}
.justificationrule{
    position: absolute;
    top: 520px;
    left: 250px;
}
.authoroftheproposal{
    position: absolute;
    top: 550px;
    left: 250px;
}
.assoccommiteerule{
    position: absolute;
    top: 580px;
    left: 250px;
}
.listofassoc{
    position: absolute;
    top: 620px;
    left: 250px;
    white-space: pre-line
}
.decoration{
    position: absolute;
    top: 280px;
    left: 250px;
    font-size: 22px;
    font-weight: bold;
}