
<main id="main" >

    <ng-container *ngIf="(rulesDataState$ | async) as result" [ngSwitch]="result.dataState">
        
        <ng-container *ngSwitchCase="RuleStateEnum.LOADING">
            Loading .....
        </ng-container>
        
        <ng-container *ngSwitchCase="RuleStateEnum.ERROR">
            <div class="alert-danger">
                {{result.errorMessage}}
            </div>
        </ng-container>
        
        <ng-container *ngSwitchCase="RuleStateEnum.LOADED">
            <form [formGroup]="previewForm" (ngSubmit)="onSubmit()">
                <!-- Input Parameters-->
                <!-- 1st line Input Parameters-->
                <div class="alert alert-primary">
                    CONDITION PARAMETERS (INPUT)
                </div>
                <div class="row mb-3 form-group">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <label class="col-3 col-form-label col-form-label-sm">Procedure Type</label>
                            <select class="form-select form-select-sm" formControlName="procedureType" (change)="checkProcNumber()">
                                <ng-container *ngIf="(conditionDataState$ | async) as condition" [ngSwitch]="condition.dataState">
                                    <ng-container *ngSwitchCase="RuleStateEnum.LOADING">
                                        Loading .....
                                    </ng-container>
                                    
                                    <ng-container *ngSwitchCase="RuleStateEnum.ERROR">
                                        <div class="alert-danger">
                                            {{result.errorMessage}}
                                        </div>
                                    </ng-container>
                                    
                                    <ng-container *ngSwitchCase="RuleStateEnum.LOADED">
                                    
                                        <option *ngFor="let p of procedureType" [ngValue]="p.name">{{p.name}} - {{p.description}}
                                        </option>
                                    
                                    </ng-container>
                                </ng-container>
                                
                            </select>
                        </div> 
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <label class="col-3 col-form-label col-form-label-sm">Document Type</label>
                            <select class="form-select form-select-sm" formControlName="documentType">
                                <option *ngFor="let p of documentType" [ngValue]="p.name">{{p.name}} - {{p.description}}
                                </option>
                             </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <label class="col-3 col-form-label col-form-label-sm">Document Status</label>
                            <select class="form-select form-select-sm" formControlName="documentStatus">
                                <option *ngFor="let p of documentStatus" [ngValue]="p.name">{{p.name}} - {{p.description}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 2nd line Input Parameters-->
                <div class="row mb-3 form-group">
                    
                    <div class="col-sm-2">
                        <div class="input-group">
                            <label class="col-4 col-form-label col-form-label-sm">Reading</label>
                            <select class="form-select form-select-sm" formControlName="reading">
                                <option *ngFor="let r of reading" [ngValue]="r.name">{{r.name}} - {{r.description}} </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="input-group">
                            <label class="col-4 col-form-label col-form-label-sm">Doc Leg Specialization</label>
                            <select class="form-select form-select-sm" formControlName="docLegSpecialization">
                                <option *ngFor="let d of docLegSpecialization" [ngValue]="d.name">{{d.name}} - {{d.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <label class="col-4 col-form-label col-form-label-sm">Language</label>
                            <select class="form-select form-select-sm" formControlName="language">
                                <option *ngFor="let l of language" [ngValue]="l.name">{{l.description}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Output Parameters-->
                <div class="alert alert-primary mb-2">
                    COMMAND PARAMETERS (OUTPUT)
                </div>
                <div class="row mb-3 form-group">
                    <div class="col-sm-3">
                        <ng-template #TooltipPN>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                The Procedure Number can be unknow in certain cases
                            </span>
                        </ng-template>
                        <div class="input-group"  [ngbTooltip]='TooltipPN'>
                            <label class="col-6 col-form-label col-form-label-sm">[Procedure Number]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="procedureNumber">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipGD>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Date the document is created
                            </span>
                        </ng-template>
                        <div class="input-group"  [ngbTooltip]='TooltipGD'>
                            <label class="col-5 col-form-label col-form-label-sm">[Generating Date]</label>
                            <input class="form-control form-control-sm" ngbDatepicker #d="ngbDatepicker"
                                formControlName="generatingDate" /><button class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipTD>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Date the document is sent to top for verification
                            </span>
                        </ng-template>
                        <div class="input-group"  [ngbTooltip]='TooltipTD'>
                            <label class="col-5 col-form-label col-form-label-sm">[Send To Top Date]</label>
                            <input class="form-control form-control-sm" ngbDatepicker #sendtotop="ngbDatepicker"
                                formControlName="sendToTopDate" /><button class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="sendtotop.toggle()" type="button"></button>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipTR>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Date the document is bookout for Translation
                            </span>
                        </ng-template>
                        <div class="input-group"  [ngbTooltip]='TooltipTR'>
                            <label class="col-5 col-form-label col-form-label-sm">[Tabling Date]</label>
                            <input class="form-control form-control-sm" ngbDatepicker #tablingDate="ngbDatepicker"
                                formControlName="tablingDate" /><button class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="tablingDate.toggle()" type="button"></button>
                        </div>
                        
                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <div class="col-sm-3">
                        <ng-template #TooltipPE>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                The Number can be unknow in certain cases
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipPE'>
                            <label class="col-4 col-form-label col-form-label-sm">[PE Number]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="peNumber">   
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipAxx>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                The Axx Number is only for a TABLED RR report (e.a.: A9-0184/2023))
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipAxx'>
                            <label class="col-4 col-form-label col-form-label-sm">[Axx Number]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="axxNumber">   
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipEPADES>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                XML or DOCX
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipEPADES'>
                            <label class="col-4 col-form-label col-form-label-sm">[EPADES Ref]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="epadesRef">
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <ng-template #TooltipLG>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Can be XM
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipLG'>
                            <label class="col-4 col-form-label col-form-label-sm">[Doc Language]</label>
                            <select class="form-select form-select-sm" formControlName="docLanguage">
                                <option *ngFor="let p of outputLanguage | keyvalue: originalOrder" [ngValue]="p.key">{{p.value}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <div class="col-sm-6">
                        <ng-template #TooltipPT>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Title is always defined in ITER (reference)
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipPT'>
                            <label class="col-2 col-form-label col-form-label-sm">[Prefix Title]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="prefixTitle">
                        </div> 
                        
                    </div>
                    <div class="col-sm-6">
                        <ng-template #TooltipIT>
                            <span style="white-space: normal; max-width:200px;  word-wrap:break-word;">
                                Please be careful with the first letter (upper or lower case)
                            </span>
                        </ng-template>
                        <div class="input-group" [ngbTooltip]='TooltipIT'>
                            <label class="col-2 col-form-label col-form-label-sm">[ITER Title]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="iterTitle">
                        </div>
                    </div>
                </div>
                <div class="row mb-3 form-group">
                    <div class="col-sm-6">
                        
                        <div class="input-group" [ngbTooltip]='TooltipPT'>
                            <label class="col-2 col-form-label col-form-label-sm">[Doc COM Ref]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="docComRef">
                        </div> 
                        
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="input-group" [ngbTooltip]='TooltipIT'>
                            <label class="col-2 col-form-label col-form-label-sm">[Doc Council Ref]</label>
                            <input class="form-control form-control-sm" type="text" formControlName="docCouncilRef">
                        </div>
                    </div>
                </div>
                
                <div class="row mb-1 form-group">
                    <div class="col-sm-4">
                        <label class="col-form-label col-form-label-sm">[Author Of Proposal]</label>
                        <select class="form-select form-select-sm" multiple formControlName="authorOfProposal">
                            <option *ngFor="let author of authorOfProposal | keyvalue: originalOrder" [ngValue]="author.key">{{author.value}}
                            </option>
                        </select>
                        <label class="col-form-label form-text ico-info">
                            Multiple selection allowed
                        </label>
                    </div>
                </div>
                
                <!-- test tableau case à cocher-->
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let header of headers" style="white-space: pre;">{{ header }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let committee of ListOfCommitteeMap | keyvalue: originalOrder ; let c = index">
                        <th>{{ committee.key }}</th>
                        <td *ngFor="let header of headers; let i = index">
                        <input *ngIf="i==0" type="radio" name="{{header}}" (change)="onChange(i, committee.key, $event, c)" [checked]="c===0">
                        <input *ngIf="i==1" type="radio" name="{{header}}" (change)="onChange(i, committee.key, $event, c)" [checked]="c===1">
                        <input *ngIf="i!=0 && i!=1 && i!=5 && i!=6" type="checkbox" [name]="i==2 ? 'letters' : i==3 ? 'opinions' : 'positions'" class="cb{{c}}" (change)="onChange(i, committee.key, $event, c)" [checked]="c===2 && i===3">
                        <input *ngIf="i==5" type="checkbox" (change)="onChange(i, committee.key, $event, c)">
                        <span *ngIf="i==6">{{ListOfRapporteurs[c]}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- fin test tableau case à cocher-->

                <!-- Buttons for preview-->
                <div class="text-center"> 
                    <div *ngFor="let part of partUniqueValues" role="group" class="btn-group">
                        <button class="btn btn-small ico-valide-cerc btn-green" type="submit" (click)="assignValue(part)" [disabled]="!previewForm.valid">{{part}}</button>
                    </div>
                </div>

            </form>
        </ng-container>
    </ng-container>

    

    <br>
       
      
    <!--Preview Visu part-->
    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="margin: 0 ; padding: 0">
                <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">Preview of the {{partSelectedForPreview}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <app-display-preview [rules]="rulesApplied" [partSelectedForPreview]="partSelectedForPreview"></app-display-preview>
                </div>
                
            </div>
            </div>     
    </div>
    <!--Output modal for missing Output Param-->
    <div class="modal fade" id="outputModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Preview of the {{partSelectedForPreview}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body" >
                        <div class="pb-3">Some Output Parameters are missing:</div>
                        <div class="input-group pb-3" *ngFor="let p of outputMissingParamMap | keyvalue">
                            <label class="col-form-label col-form-label-sm pe-2">{{p.key}}</label>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="p.value" (change)="changeValueOutput(p.key, $event.target)" />
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-small ico-delete" (click)="onIgnoreOutputParam()">Ignore</button>
                    <button type="button" class="btn btn-small ico-valide-cerc btn-green me-2" (click)="onSubmitOutputParam()">Submit Values</button>
                  </div>
            </div>
        </div>     
    </div>
    <!--Input modal for missing Input Param-->
    <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="InputModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Input for the {{partSelectedForPreview}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body" >
                        <div class="pb-3">Some Input Parameters are missing, check boxes if they are true:</div>
                        <div class="form-check form-check-inline" *ngFor="let p of inputMissingParamMap | keyvalue">
                            <label class="form-check-label pe-2">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="p.value" (change)="changeValueInput(p.key, $event.target)" />
                                {{p.key}}
                            </label>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-small ico-delete" (click)="onIgnoreInputParam()">Ignore</button>
                    <button type="button" class="btn btn-small ico-valide-cerc btn-green me-2" (click)="onSubmitInputParam()">Submit Values</button>
                </div>
            </div>
        </div>     
    </div>
    
    

    <br>
    <!--tab of rules part-->
    <app-display-rules-applied [rulesApplied]="rulesApplied"></app-display-rules-applied>

</main>
