
<main id="main">
    <form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
        
        <!-- Order-->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Id</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="id" readonly>
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                   This value cannot be changed
                </span>
            </div>
        </div>

        <!-- Order-->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Order</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="number" formControlName="order">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                   Order in which rules are applyed (important for suffix or prefix)
                </span>
            </div>
        </div>


        <!-- Part-->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Part</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="part">
                <!--<select class="form-select" formControlName="part">
                    <option *ngFor="let p of parts" [ngValue]="p">{{p}} </option>
                </select>-->
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Part of the document on which the rule applies
                </span>
            </div>
        </div>
        
        <!-- Label-->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Label</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="label">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Label
                </span>
            </div>
        </div>
        
        <!-- Condition -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Condition</label>
            <div class="col-sm-5">
                <textarea class="form-control form-control-sm" rows="2" formControlName="condition"></textarea>
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Condition for the rule to be applied. All condition parameters are Input parameters only 
                </span>
            </div>
        </div>
        <!-- Command -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Command</label>
            <div class="col-sm-5">
                <textarea class="form-control form-control-sm" rows="3" formControlName="command"></textarea>
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                   All values in brackets [] will be taken from the Output Parameters, Others will be displayed as such
                </span>
            </div>
        </div>
        <!-- Mandatory -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Mandatory</label>
            <div class="col-sm-5">
                <input class="form-check-input" type="checkbox" formControlName="mandatory">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Mandatory rule
                </span>
            </div>
        </div>
        <!-- Initial Value -->
        
        <div class="row align-items-center mb-2">
            <label class="col-sm-1 col-form-label">Initial Value</label>
            <div class="col-sm-2">
                <select class="form-select form-select-sm" formControlName="languages" (change)="onLangChange($event)">
                    <option *ngFor="let lang of language | keyvalue: originalOrder" [ngValue]='lang.key'>{{lang.value}}</option>
                </select>                
            </div>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="initialValue" (change)="onInitValueChange($event)">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    This field is used when in command field the value [DOC MULTI LANG] is set OR when the Output parameters is empty (default value)
                </span>
            </div>
        </div>
        
        <!-- Position -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Position</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="position">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Position in the page
                </span>
            </div>
        </div>
        <!-- Format -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Format</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="format">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    CSS name
                </span>
            </div>
        </div>
        <!-- Style -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Style</label>
            <div class="col-sm-5">
                <select class="form-select" formControlName="style">
                    <option *ngFor="let s of styles" [ngValue]="s.id">{{s.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Style name
                </span>
            </div>
        </div>
        <!-- Comment -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Comment</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="comment">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Comment
                </span>
            </div>
        </div>
        <!-- Application -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Application</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="application">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Application
                </span>
            </div>
        </div>
        <!-- Example -->
        <div class="row align-items-center mb-2">
            <label class="col-sm-3 col-form-label">Example</label>
            <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" formControlName="example">
            </div>
            <div class="col-sm-3">
                <span class="form-text ico-info">
                    Exemple
                </span>
            </div>
        </div>

        <div class="row align-items-center mb-2">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-3 mx-auto">
                <button class="btn btn-small ico-valide-cerc btn-green me-2">Submit</button>
                <button class="btn btn-small ico-delete" (click)="onCancel()" type="button">Cancel</button>
            </div>
            <div class="col-sm-3">
                
            </div>
        </div>
        
    </form>
</main>