<main id="main" >
    <ng-container *ngIf="(styleDataState$ | async) as result" [ngSwitch]="result.dataState">
        
        <ng-container *ngSwitchCase="RuleStateEnum.LOADING">
            Loading .....
        </ng-container>
        
        <ng-container *ngSwitchCase="RuleStateEnum.ERROR">
            <div class="alert-danger">
                {{result.errorMessage}}
            </div>
        </ng-container>
        
        <ng-container *ngSwitchCase="RuleStateEnum.LOADED">
            <table class="table table-striped table-administration">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Margin Top</th>
                        <th>Margin Left</th>
                        <th>Relatif</th>
                        <th>Font</th>
                        <th>Size</th>
                        <th>Bold</th>
                        <th>Italic</th>
                    </tr>
                    <tr *ngFor="let s of result.data">
                        <td>{{s.name}}</td>
                        <td>{{s.margintop}}</td>
                        <td>{{s.marginleft}}</td>
                        <td>{{s.relatif}}</td>
                        <td>{{s.font}}</td>
                        <td>{{s.size}}</td>
                        <td>{{s.bold}}</td>
                        <td>{{s.italic}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</main>

